/*@charset "utf-8"*/
a:link {
	color: #000;
	font-size: 16px;
	text-decoration: none;
}
a:visited {
	color: #0FE;
	text-decoration: none;
}
a:hover {
	color: #900;
	font-size: larger;
	text-decoration: underline;
}
a:active {
	color: #000;
	text-decoration: none;
}
div#div_7 {

}
div#div_7_1 {
 width: 215px;
 height: 150px;
 text-align: center;
  float: left;
}
div#div_7_2 {
 width: 215px;
 height: 150px;
 text-align: center;
  float: left;
}
div#div_7_3 {
 width: 215px;
 height: 150px;
 text-align: center;
  float: left;
}
div#div_7_4 {
 width: 215px;
 height: 150px;
 text-align: center;
  float: left;
}
div#div_7_5 {
 width: 215px;
 height: 150px;
 text-align: center;
  float: left;
}
div#div_7_6 {
 width: 215px;
 height: 150px;
 text-align: center;
  float: left;
}
div#div_7_7 {
 width: 215px;
 height: 150px;
 text-align: center;
  float: left;
}
div#div_7_8 {
 width: 215px;
 height: 150px;
 text-align: center;
  float: left;
}
